.button {
  display: flex;
  align-items: center;
  background-color: #e1faf4;

  padding: 15px 25px;
  position: relative;
  border-radius: 24px;
  background-color: #009471;
  border: none;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    padding: 10px 15px;
  }

  &--secondary {
    border: 1px solid #009471;
    background-color: transparent;
    color: #009471;
  }
}
